debugpy
pydevd-odoo
unicode 
pycryptodome 
pysftp
dropbox
pyncclient
boto3
nextcloud-api-wrapper
paramiko 
python-barcode
pytesseract
pypdf
pdf2image
numpy
pillow
fuzzywuzzy
schwifty==2024.4.0
iso3166
xmlsig
cachetools
openupgradelib
fsspec>=2024.5.0
cryptography==3.4.8